.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.center {
  text-align: center;
}

.white {
  color: white;
}

.text-flat {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}

.textAlign-center {
  text-align: center;
}

.textAlign-left {
  text-align: left;
}

.textAlign-right {
  text-align: right;
}

.color-red {
  color: red;
}

.color-blue {
  color: blue;
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Change this value based on your requirement */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.color-link {
  color: var(--text-link, #0091ea);
  cursor: pointer;
}

.color-caption {
  color: var(--text-caption);
}

.color-reddark {
  color: var(--red_dark);
}

.color-greendark {
  color: var(--icon_green_dark);
}

.color-darkgray {
  color: var(--text_dark_gray);
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--text_black);
}
